<template >
  <div @click="clickCell"
  :class=" { cell: true, cellX: player === 'x', cellO: player === 'o', grade: grade } ">
    {{ player }}</div>
</template>
<script>
export default {
  props: [
    'player', 'row', 'col', 'grade'
  ],
  methods: {
    clickCell (event) {
      // console.log(event)
      // console.log('click' + this.row + ' ' + this.col)
      if (this.player !== '-') return
      this.$emit('cell-click', this.row, this.col)
    }
  }
}
</script>
<style>
.cell {
  color: greenyellow;
  font-size: 30pt;
}
.cellX {
  color: plum;
  font-size: 30pt;
}
.cellO {
  color: skyblue;
  font-size: 30pt;
}
.grade {
  background-color: rgb(255, 250, 173);
}
</style>
